{% load static %}
<!doctype html>
<html lang="es-mx" ng-app="scrumboard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'scrumboard/css/scrumboard.css' %}">
</head>
<body>

    {% verbatim %}

    <div ng-controller="scrumCtrl as s">
        <div>
            <button ng-click="s.login()">Login Papud</button>
            <a href="/auth_api/logout">logout</a>
        </div>


        <div ng-repeat="list in s.data" class="list">
            <h3>{{ list.name }}</h3>
            <ul>
                <li ng-repeat="card in list.cards">
                    <scrumboard-card info="card" list="list"></scrumboard-card>
                </li>
            </ul>
            <div class="flex">
                <input type="text" ng-model="new_title">{{ new_title }}
                <button ng-click="s.add(list,new_title)">Agregar</button>
            </div>
        </div>
    </div>

    {% endverbatim %}


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="{% static "scrumboard/scrumboard.js" %}"></script>
    <script src="{% static "scrumboard/card.component.js" %}"></script>
    <script src="{% static "scrumboard/scrumboard.config.js"%}"></script>
</body>
</html>